@import "normalize";
@import "nprogress";



//@import "fontstyle";
@import "globals";
@import "salvattore";


@import "inspiration";

body{
  background-color: #fff;
}

.container {

  &.news {
    max-width: 960px;
    margin: 30px auto;
  }

  &.inspiration {
    margin: 70px 30px 70px 100px;
  }
}

#nprogress .peg {
  box-shadow: none;
}

#nprogress .bar {
background-color: $salomon;
height: 4px;
}
#nprogress .spinner-icon {
border-top-color: $salomon;
border-left-color: $salomon;
}





