/*
@import "normalize";
@import "nprogress";
*/

/*@import "fontstyle";
@import "globals";*/
@import "salvattore";

$red : "red";

#nprogress .peg {
  box-shadow: none;
}

#nprogress .bar {
background-color: $red;
height: 4px;
}
#nprogress .spinner-icon {
border-top-color: $red;
border-left-color: $red;
}





