@import "globals";
@import "burger";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70px;
  background: $navbar-color;

  display: flex;
  flex-direction: column;
  align-content: flex-start;

  .logo-wrapper {
    z-index: 1000;
    width: 70px;
    height: 70px;
    background-color: $salomon;

    svg {
      width: 50px;
      margin: 10px;

      .path {
        fill: $white;
      }
    }
  }

  .logo-wrapper.active {
    background-color: transparent;
    svg .path {
      fill: $salomon;
    }
  }

  .item {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;



    &.content {
      position: relative;
      //overflow: auto;
      // We use .flex instead of .flex-grow here because IE10 does
      // not support flex-grow.
      flex: auto;

      .menu {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        display : flex;
        flex-direction: column;
        justify-content: center;

        //display: none;
        .menu-item {
          @include defaulttransition();

          position: relative;
          width: 70px;
          height: 50px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          img {
            padding:10px 20px;
            width:30px;
            height:25px;
          }

          .menu-title {
            position: absolute;
            top: 0;
            left: 75px;
            opacity: 0;
            color: #444;
          }

          &:hover {
            background-color: $salomon;
            width: 150px;

            .menu-title {
              transition-delay: .3s;
              opacity: 1;
            }
          }

        }
      }
    }

    &.footer {

    }
  }


}
